.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

.cinema{
  text-decoration: line-through;
  font-weight: bold;
}

.cinema2{
  font-size: large;
  font-weight: bold;
}

/* .each-slide1{
  width: 20%; 
  height: 20%;

}

.imgg{
  width: 20%; 
  height: 20%;

} */