.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }


.cinema{
  text-decoration: line-through;
  font-weight: bold;
}


.cinema2{
  font-size: large;
  font-weight: bold;
}


.oneitem{
  box-sizing: border-box;
    /* border: inset !important; */
    
}

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
  }
  
  slide-container {
    width: 70%;
    margin: auto; }
  
